@page "/authentication"
@inject SteamAuthService AuthService

@rendermode InteractiveServer

<h3>Steam Authentication</h3>
@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.InitializeAsync();
        AuthService.InitiateSteamAuth();
    }
}