@page "/"
@using ModelClasses
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<PageTitle>Dota 2 Statistics</PageTitle>

<h1>Dota 2 Account Statistics</h1>

<p>Welcome</p>