@model DotaWebStats.Models.UserDotaStats

@{
    Layout = null; // Change to your layout if needed
}

<!DOCTYPE html>

<html>
<head>
    <title>Player Stats</title>
</head>
<body>
<div>

</div>
</body>
</html>