@using DotaWebStats.Components.Pages
@using ModelClasses
@using Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ISteamAuthService AuthService
@inject ISteamDataService SteamDataService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (!string.IsNullOrEmpty(SteamUserData?.PersonaName))
            {
                <div class="user-info">
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" @onclick="ToggleDropdown">
                            <img src="@SteamUserData.AvatarFull" alt="User Avatar" class="user-avatar" />
                            <span class="username">@SteamUserData.PersonaName</span>
                        </button>
                        <div class="@($"dropdown-menu {(_showDropdown ? "show" : "")}")">
                            <a class="dropdown-item" @onclick="NavigateToProfile" href="javascript:void(0);">My profile</a>
                            <a class="dropdown-item" @onclick="Logout" href="javascript:void(0);">Log Out</a>
                            <a class="dropdown-item" href="#">Settings</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <button @onclick="AuthenticationStart">Sign in with Steam</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private SteamUserData.Player? SteamUserData { get; set; }
    private bool _showDropdown;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AuthService.InitializeAsync();
            var steamIdNullable = AuthService.SteamId;

            if (steamIdNullable.HasValue && steamIdNullable.Value != 0)
            {
                long steamId = steamIdNullable.Value;
                string steamIdString = steamId.ToString(); 

                Console.WriteLine("MainLAyout - " + steamIdString);
                SteamUserData = await SteamDataService.GetPlayerSummary(steamIdString);
                StateHasChanged(); 
            }
            else
            {
                // Handle the case where steamId is null or zero
                Console.WriteLine("Steam ID is not available or is zero.");
            }
        }
    }



    private void ToggleDropdown()
    {
        _showDropdown = !_showDropdown;
    }

    private void AuthenticationStart()
    {
        AuthService.InitiateSteamAuth();
    }

    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        SteamUserData = null;
        NavigationManager.NavigateTo("/", forceLoad: true);
    }

    private void NavigateToProfile()
    {
        // Console.WriteLine(SteamUserData.Dota2Id + " \n " + SteamUserData.Steamid);
        if (SteamUserData != null)
        {
            if (SteamUserData.Dota2Id != 0)
            {
                NavigationManager.NavigateTo($"/player/{SteamUserData.Dota2Id}");
            }
            else if (!string.IsNullOrEmpty(SteamUserData.Steamid))
            {
                // If Dota2Id is not available, we'll use SteamId and convert it on the profile page
                NavigationManager.NavigateTo($"/player/{SteamUserData.Steamid}");
            }
            else
            {
                Console.WriteLine("Neither Dota2Id nor SteamId is available for navigation.");
            }
        }
        else
        {
            Console.WriteLine("User data is not available.");
        }
    }

}