body {
    background-color: #ff0000; /* Light gray background for the entire page */
}

.stats-container {
    color: #000000; /* default text color */
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Optional: White background for the stats container */
    border-radius: 10px; /* Optional: Rounded corners for the stats container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: A subtle shadow effect */
}

.stats-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.stats-row {
    display: flex;
    justify-content: space-between;
}

.stat-item {
    text-align: center;
    flex: 1;
}

.stat-value {
    font-size: 18px;
    font-weight: bold;
}

.stat-max {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.stat-label {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}

/*.average-kills {*/
/*    color: green; !* Average kills in green *!*/
/*}*/

/*.average-deaths {*/
/*    color: red; !* Average deaths in red *!*/
/*}*/

/*.average-gpm {*/
/*    color: #000000; !* Average gold per minute in yellow *!*/
/*}*/

.average-maximum {
    font-weight: bold;
}

.page-data {
    background-color: #ffffff; /* White background for page data */
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: A subtle shadow effect */
}
